name: Deploy to ECS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1
  ECR_REPO: 588809963512.dkr.ecr.us-east-1.amazonaws.com/ecs-cloud
  CLUSTER_NAME: ecs-cloud-cluster
  SERVICE_NAME: backend-service

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, Tag, Push image
      run: |
        docker build -t ecs-cloud .
        docker tag ecs-cloud:latest ${{ env.ECR_REPO }}:latest
        docker push ${{ env.ECR_REPO }}:latest

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster ${{ env.CLUSTER_NAME }} \
          --service ${{ env.SERVICE_NAME }} \
          --force-new-deployment
